h1 {
    text-align: center;
    font-size: 40px;
}

canvas {
    border: 3px solid black;
}

.SingleCanvas {
    display: block;
    margin: 20px auto;
}

.MultiCanvas1 {
    position: fixed;
    left: 25%;
}

.MultiCanvas2 {
    position: fixed;
    right: 25%;
}

.Blur {
    filter: blur(4px);
    transition: 0.5s ease-in-out;
}

.Blur.hidden {
    filter: none;
}

.Single, .Multi{
    display: none;
}

.Choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 35%;
    left: 36%;
    position: fixed;
    width: 350px;
    height: 200px;
    border-radius: 20px;
    background-color: lightgrey;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.Choice.hidden {
    transform: translateY(100vh); 
    opacity: 0;
}

.Choice button {
    margin: 15px;
    width: 250px;
    height: 55px;
    border-radius: 15px;
    border: 1px solid lightgray;
    background-color: grey;
    font-size: 20px;
}



