* {
    font-family: 'Press Start 2P', cursive;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    cursor: default;
    overflow: hidden;
}

body {
    /*background-color: #78c1f3;*/
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(pictures/MultiColorBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* ------------------ FŐOLDAL -------------------- */
.HomeScreen {
    color: white;
    border: 3px solid white;
    width: 500px;
    height: 750px;
    display: flex;
    flex-direction: column;
    margin: 70px auto;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
    font-size: 20px;
    background-color:rgba(29, 29, 29, 0.6);
}

.HomeScreen p {
    text-decoration: underline;
}

.HomeScreen.hidden {
    transform: translateY(100vh); 
    opacity: 0;
    display: none;
}

.Choice button {
    color: white;
    margin: 15px;
    width: 180px;
    height: 55px;
    border-radius: 15px;
    border: 1px solid lightgray;
    background-color: rgb(41, 52, 102, 0.5);
    font-size: 14px;
    transition: 0.4s ease-in-out;
    font-weight: 600;
}

.Choice button:hover {
    background-color: white;
    position: relative;
    color: rgb(62, 60, 160);
}

.container {
    width: 1200px;
    height: 900px;
    background-color: rgba(120, 200, 390, 0.2);
    border-radius: 10px;
    margin: auto;
}

.Blur {
    opacity: 0;
    filter: blur(4px);
    transition: 0.5s ease-in-out;
}

.Blur.hidden {
    filter: none;
    opacity: 1;
}

/* ------------------- Tetris oldal ---------------------*/
#arrow {
    margin-top: 10px;
    position: fixed;
    font-size: 40px;
    transition: font-size 0.1s ease-in-out;
}

#arrow:hover {
    color: white;
    font-size: 45px;
}

h1 {
    margin-top: 20px !important;
    padding-top: 5px !important;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 4px 4px #000000;
    border: none;
    border-radius: 20px;
    width: 300px;
    margin: 0 auto;
}

canvas {
    border: 3px solid black;
    background: #353546;
    box-shadow: 14px 14px 0 0 rgb(209, 207, 207);
}

.Single, .Multi{
    display: none;
}

/* --------- EGYJÁTÉKOS CANVAS -------------- */

.Single {
    position: relative;
    top: -970px;
    display: block;
    opacity: 0;
    margin: 40px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    text-align: center;
    color: white;
}

.Single h2 {
    margin-bottom: 10px;
    text-shadow: 4px 4px #000000;
}

.Single.active {
    opacity: 1;
    transform: translateY(990px); 
}

.GameOverlay {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70px;
    width: 300px;
    font-size: 24px;
    color: white;
    background: rgba(29, 29, 29, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------ TÖBBJÁTÉKOS CANVAS -----------------*/
.Multi {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 650px;
    margin-top: 50px;
}

#MC1, #MC2 {
    color: white;
    margin: 10px;
}

h2 {
    text-shadow: 4px 4px #000000;
}

.GameOverlay-Multi1 {
    position: absolute;
    top: 51%;
    left: 51%;
    transform: translate(-50%, -50%); 
    height: 70px;
    width: 300px;
    font-size: 24px;
    color: white;
    background: rgba(29, 29, 29, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.GameOverlay-Multi2 {
    position: absolute;
    top: 51%;
    left: 51%;
    transform: translate(-50%, -50%);
    height: 70px;
    width: 300px;
    font-size: 24px;
    color: white;
    background: rgba(29, 29, 29, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Position1, .Position2 {
    transform: translateY(-200%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    text-align: center;
    width: 300px;
}

.Position1.active, .Position2.active {
    transform: translateY(-680px);
    opacity: 1;
}

/* ------------------------ Üzenet --------------------- */
.Winner1 {
    opacity: 0;
    display: none;
    top: 40%;
    left: 40.6%;
    position: fixed;
    width: 360px;
    height: 260px;
    border-radius: 20px;
    background-color: lightgrey;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

.Winner1 img {
    margin-top: 15px;
    width: 130px;
}

.Winner1 button {
    margin-top: 15px;
    width: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px;
    border: 1px solid lightgray;
    background-color: grey;
    font-size: 25px;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.Winner1 button:hover {
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 250px;
    font-size: 28px;
}

.Winner2 {
    opacity: 0;
    display: none;
    top: 40%;
    left: 40.6%;
    position: fixed;
    width: 360px;
    height: 260px;
    border-radius: 20px;
    background-color: lightgrey;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

.Winner2 img {
    margin-top: 15px;
    width: 130px;
}

.Winner2 button {
    margin-top: 15px;
    width: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px;
    border: 1px solid lightgray;
    background-color: grey;
    font-size: 25px;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.Winner2 button:hover {
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 250px;
    font-size: 28px;
}

.Loser {
    opacity: 0;
    display: none;
    top: 40%;
    left: 40.6%;
    position: fixed;
    width: 360px;
    height: 260px;
    border-radius: 20px;
    background-color: lightgrey;
    font-size: 30px;
    padding: 10px;
}

.Loser img {
    margin-top: 15px;
    width: 130px;
}

.Loser button {
    margin-top: 15px;
    width: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 15px;
    border: 1px solid lightgray;
    background-color: grey;
    font-size: 25px;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.Loser button:hover {
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 250px;
    font-size: 28px;
}

/* ------------------------ Zene --------------------- */
.volume-control {
    z-index: 1000;
    margin-top: -140px;
    transition: bottom 0.5s ease-in-out;
}
  
.volume-control.active {
    position: fixed;
    left: 5px;
    bottom: 5px;
    display: block;
}

#audio-icon {
    font-size: 24px;
    cursor: pointer;
}

#volume-icon {
    width: 10px;
    height: 10px;
    cursor: pointer;
}
  
#volume-slider {
    position: relative;
    top: -6px;
    -webkit-appearance: none;
    width: 100px;
    height: 5px;
    background: white;
    border-radius: 20px;
    cursor: pointer;
}
  
#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: white;
    margin-top: -6px; 
    cursor: pointer;
}

#volume-slider::-webkit-slider-runnable-track {
    background: white;
    height: 5px;
    border-radius: 3px;
}


.controls{
    display: flex;
    flex-direction: column;
    margin: 70px auto;
    align-items: center;
    justify-content: space-around;
}
